<body class="editbook">

	<div class="editform">
		<h1>Add new book</h1>

		<div class="formbox">
			<%= form_tag :action => 'create' do %>

			<div class="formtitle">Title: <br><%= text_field 'books', 'title', class: "titlefield" %></p>

			<div class="formproglang">Programming Language: <%= select :books, :proglang, [ ['Python', 'python'], 
						['Java', 'java'], ['Ruby', 'ruby'], ['C','c'], ['Go', 'go'] ], {}, 
						:class => "proglangfield" %></div>

			<div class="formdesc">Description<br><%= text_area 'books', 'description', class: "descfield" %></div>

			<div class="formsubmit"><%= submit_tag "Create", class: "savebutton" %>

			<% end %>
			
			<%= link_to 'Cancel', {:action => 'list'}, class: "cancelbutton" %></div>

		</div>

	</div>

</body>